fieldset{
    width: 45%;
}
.celda{
    margin-bottom: 15px;
}

.pal{
    color: white;
    font-size: 18px;
}
.copy{
    color: rgb(167, 164, 164);
}

.foto{
    width: 300px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

body{
    background-color: rgb(112, 60, 112);
}